.tabla{

    width: 600px;
    height: 800px;
    margin: auto;

}

.table header, h1{

    text-align: right;
    font-size: 20px;

}

.tabla table{

    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    width: 100%;
}

.tabla th{

    font-size: 30px;

}

.tabla tr, td{

    font-size: 35px;

}



.table tr, th, td{

    
    text-align: right;
    padding-right: 10px;
    border-right: 1px solid black;
    border-left: 1px solid black;


}