


@font-face {
    font-family: "Helvetica";
    src: url(fonts/HELR45W.ttf);
    
  }



body{

    background-color: #4b8a20;
    font-family: Helvetica;
}

.contenedor{

    background-color: white;
    position: relative;

    width: 900px;
    height: 1350px;
    margin: auto;
    padding-right: 30px;
    padding-left: 30px;

}

/*cabecera*/
.cabecera{

    background-color: #6CA427;

    width: 100%;
    height: 200px;
   
    
    position: relative;
}

.cabecera img{

    position: relative;
    width: 50%;
    height: 200px;
    

}

.cabecera nav{

    width: 50%;
    position: absolute;

    text-align: right;
    right: 2%;
    bottom: 5%;

}

.cabecera input{

    padding: 10px;

}

.botoncico{

    background-color: red;
    color: white;
    border-radius: 5px;
    border: 1px solid red;

}

.botoncico:hover{

    background-color: rgb(233, 12, 12);

}

/*fin cabecera*/


.contenido{

    display: flex;
    
}
/*inicio noticia*/
.noticia{

    position: relative;
    width: 100%;
    height: 550px;
    margin-right: 20px;

    
}

.enlace_xataka{

    color: #4b8a20;
    text-decoration: none;
    

}

.comentarios{

    position: absolute;
    
    right: 0;

    color: #4b8a20;
    text-decoration: none;
    font-size: 20px;

}

.hulk_gafas{

    width: 90%;
    height: 300px;
}

.logo-wrapper{

    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.logo{

    width: 15px;
    height: 15px;
    
}

.noticia button{

    margin-right: 20px;

}

.leer_mas{

    position: absolute;
    right: 0;

    color: #4b8a20;
    text-decoration: none;
    font-size: 20px;
}

/*fin noticia*/

/*inicio columna*/
.columna{

    width: 55%;
    height: 500px;
    
}

.columna h1{

    border-bottom: 1px solid gray;
    
}

.clubes{

    height: 60%;
    
}
.club{

    display: flex;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    padding-top: 10px;
}

.club_2{

    display: flex;
    
    padding-bottom: 20px;
    padding-top: 10px;
}


.persona_sufriendo{

    width: 120px;
    height: 100px;
    padding-left: 10px;
}

.siguenos{

    position: relative;
    border-bottom: 1px solid gray;

}

.siguenos input{

    padding: 7px;

}

.siguenos img{

    padding: 20px;
    width: 40px;
    height: 40px;

}

.button-wrapper{

position: relative;
margin-bottom: 20px;


}

.button-wrapper button{

    background-color: gray;
    padding: 15px;
}


/*fin columna*/

.pie{
    
    position: absolute;
    bottom: 0;
    
    width: 94%;
    height: 450px;
    background-color: black;

}




.listas{

    display: flex;
    color: white;
    
}

.lista{

    width: 20%;
    

}

.lista h1{

    margin-right: 25px;
    margin-left: 25px;
    font-size: 15px;
    height: 40px;
}

.lista ul{

    border-top: 1px solid white;
    list-style: none;
}

.lista li{

    padding-top: 10px;
    
}

.lista a{

    text-decoration: none;
    color: gray;
}



