/*Reset*/
* {
	margin: 0;
	padding: 0;
	font-size: 22px;
	list-style: none;
	text-decoration: none;
}
/*Reset/*/


/*Fonts*/
	/*Open-Sans*/
	@font-face {
		font-family: "Regular";
		src: url(open-sans/OpenSans-Regular.ttf);
	}

	@font-face {
		font-family: "Bold";
		src: url(open-sans/OpenSans-Bold.ttf);
	}

	@font-face {
		font-family: "SemiBold";
		src: url(open-sans/OpenSans-SemiBold.ttf);
	}

	@font-face {
		font-family: "Extra";
		src: url(open-sans/OpenSans-ExtraBold.ttf);
	}
	/*Open-Sans/*/
/*Fonts/*/

/*Body*/
body {
	font-family: "Regular", Arial, sans-serif;
}

/*header*/
header {
  width: 10%;
  height: 30px;
  margin-top: 5%;
  margin-left: 10%;
}

#check {
  width: 23px;
  height: 23px;
}
/*header/*/

.divPrincipal {
  margin-top: 20px;
  display: grid;
}

  /*Acount*/
  #acount {
    position: absolute;
    top: 118px;
    left: 10%;
    font-size: 17px;
    color: rgb(147, 202, 58);
  }
  /*Acount/*/

  #margen_principal {
    position: relative;
    top: 20%;
  }

  #margen {
    position: relative;
    top: 30px;
    margin-left: 25%;
  }

  #margen2 {
    margin-left: 23%;
  }

  #margin {
    position: relative;
    left: 12%;
    font-style: italic;
  }

  .font {
    font-size: 16px;
  }

  .font2 {
    font-size: 13px;
  }

  .espacio {
    position: relative;
    left: 10%;
  }

  .espacio2 {
    position: relative;
    left: 7%;
  }

  .a {
    width: 98.5%;
    height: 200px;
    padding: 10px;
    border-top: 2px solid rgba(165, 165, 165, 0.5);
    opacity: 0.5;
    }


/*Div 2*/
.div2 {
  width: 98.5;
  height: 510px;
  display: inline-flex;
  border-top: 2px solid rgba(165, 165, 165, 0.5);
  opacity: 0.5;
}
/*Div 2/*/

  /*Datails*/
  #details {
    position: absolute;
    top: 340px;
    left: 10%;
    font-size: 17px;
    color: rgb(147, 202, 58);
  }
  /*Datails/*/

  /*Info*/
  #info {
    position: absolute;
    top: 340px;
    left: 55%;
    font-size: 17px;
    color: rgb(147, 202, 58);
  }
  /*Info/*/
  
  .b {
    width: 240%;
    border-right: 2px solid rgba(165, 165, 165, 0.5);
    color: black !important;
  }

  #pls {
    position: relative;
    top: 60px;
    left: 100px;
  }
  
  .espacio3 {
    position: relative;
    top: 30px;
    left: 20%;
  }

  .espacio4 {
    position: absolute;
    left: 200px;
  }

  #funciona {
    margin-left: 20%;
  }

  #funciona2 {
    width: 70%;
    height: 190px;
    margin-top: 10%;
    margin-left: 20%;
    padding: 10px;
    border: 2px solid rgba(165, 165, 165, 0.5);
    background:linear-gradient( #c8e90c 0%,#ffffff 100% );
  }

  p {
    color: rgb(147, 202, 58);
    font-size: 18px;
  }

  article {
    font-size: 15px;
  }

/*Div 3*/
.div3 {
  width: 98.5;
  height: 200px;
  display: inline-flex;
  opacity: 0.5;
}
/*Div 3/*/

  /*Terms and Mailing*/
  #terms {
    position: absolute;
    top: 900px;
    left: 10%;
    font-size: 17px;
    color: rgb(147, 202, 58);
  }
  /*Terms and Mailing/*/

  .d {
    width: 60%;
    height: auto;
    margin-top: 50px;
    padding: 10px;
    border: 2px solid rgba(165, 165, 165, 0.5);
    border-radius: 0px 10px 0px 0px;
  }

  #muerte {
    position: relative;
    top: 20%;
  }

  .button {
    position: relative;
    top: 60px;
    left: 20px;
    font-family: Arial;
    color: #ffffff;
    font-size: 25px;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    text-shadow: 1px 1px 3px #666666;
    border: solid #94d91c 2px;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#4c9425), to(#9dd92e));
    background: -moz-linear-gradient(top, #4c9425, #9dd92e);
  }
  .button:hover {
    background: #94e620;
  }
/*Body*/