/*Reset*/
* {
	margin: 0;
	padding: 0;
	font-size: 20px;
	list-style: none;
	text-decoration: none;
}
/*Reset/*/


/*Fonts*/
	/*Open-Sans*/
	@font-face {
		font-family: "Regular";
		src: url(open-sans/OpenSans-Regular.ttf);
	}

	@font-face {
		font-family: "Bold";
		src: url(open-sans/OpenSans-Bold.ttf);
	}

	@font-face {
		font-family: "SemiBold";
		src: url(open-sans/OpenSans-SemiBold.ttf);
	}

	@font-face {
		font-family: "Extra";
		src: url(open-sans/OpenSans-ExtraBold.ttf);
	}
	/*Open-Sans/*/
/*Fonts/*/


/*Body*/
body {
	font-family: "Regular", Arial, sans-serif;
}


header {
    text-align: center;
}

/*Nav 1*/
#navegacion1 {
  width: 7%;
  background-color: rgb(64, 77, 138);
  box-shadow: 4px 0px 9px #666666;
}

#uls1 > li {
  display: block;
  padding: 10px 10px;
  margin-top: 1%;
}

#uls1 > li:hover {
  background-color: rgb(93, 170, 189);
}

#uls1 > li > a {
  color: rgb(231, 230, 230);
}
/*Nav 1/*/

/*Nav 2*/
#navegacion2 {
  width: 7%;
  background-image: url(img/violetas.jpg);
  box-shadow: 4px 0px 9px #666666;
}

#navegacion2:hover {
  background-image: url(img/lago.jpg);
}

#uls2 > li {
  display: block;
  padding: 10px 10px;
  margin-top: 1%;
}

#uls2 > li:hover {
  background-color: rgb(93, 138, 189);
}

#uls2 > li > a {
  color: rgb(231, 230, 230);
  margin-left: 1%;
}
/*Nav 2/*/

/*Nav 3*/
  .sticky {
    position: relative;
    margin-top: 2.5%;
    top:0;
    z-index: 100;
    overflow: hidden;
    background-color: #50b9c7;
    box-shadow: 4px 0px 9px #666666;
	}

	.sticky a {
	  float: left;
	  display: table-cell;
	  color: #f2f2f2;
	  text-align: center;
	  padding: 14px 16px;
	  font-size: 17px;
	  cursor: pointer;
	}

	.type1 > img {
	  float: left;
	  display: table-cell;
	  width: 30px;
	  margin-top: 4px;
	  margin-left: 2px;
	  padding: 10px 10px;
	  position: relative;
	}

	#change-color {
		color: white;
	}

	/*Animate border botom*/
	.cool-link {
	    display: inline-block;
	    color: #F1F1F1;
	    text-decoration: none;
	}

	.cool-link::after {
	    content: '';
	    display: block;
	    width: 0;
	    height: 2px;
	    background: #F1F1F1;
	    transition: width .3s;
	}

	.cool-link:hover::after {
	    width: 100%;
	    transition: width .4s;
	}
	/*Animate border botom/*/
/*Nav 3/*/
  
/*Nav 5*/
#navegacion5 {
  width: 100%;
  background-color: rgb(91, 110, 119);
  font-size: 10px !important;
  box-shadow: 4px 0px 9px #666666;
}

#uls5 > li {
  display: inline-block;
  padding: 10px 10px;
  margin-top: 1%;
}

#uls5 > li:hover {
  background-color: rgb(93, 170, 189);
  border-radius: 10px 10px 0px 0px;
}

#uls5 > li > a {
  color: rgb(231, 230, 230);
}
/*Nav 5/*/

/*Nav 6*/
.ham1 {
  margin: auto;
  margin-top: 2.5%;
  width: 100%;
  box-shadow: 4px 0px 9px #666666;
}

ul, ol {
  list-style: none;
}

.nav li a {
  background-color: #593d86;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
}

.nav li a:hover {
  background-color: rgb(107, 69, 150);
}

.nav > li {
  float: left;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.nav li:hover > ul {
  display: block;
}

.nav li ul li {
  position: relative;
}

.nav li ul li ul {
  right: -140px;
  top: 0;
}
/*Nav 6/*/

/*Nav 7*/
.navbar {
    overflow: hidden;
    background-color: rgb(43, 42, 42); 
    margin-top: 2.5%;
    cursor: pointer;
    box-shadow: 4px 0px 9px #666666;
  }
  
  .navbar a {
    float: left;
    font-size: 17px;
    color: rgb(219, 173, 21);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
    cursor: pointer;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(228, 149, 59);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #66623c;
    cursor: pointer;
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(158, 95, 13);
    width: 50%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  /*Nav 7/*/